.customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.customAlertContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 
}

.closeButton {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.elementToHide {
   
  }
  
