.content{
    background-color: rgba(105, 101, 101, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.tables{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

.tables p{
    display: flex;
    align-items: center;
}

.teamLogo{
    width: 30px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
} 

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td{
    display: flex;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #2d33a7;
}

tr:nth-child(odd) {
    background-color: #434349;
}