.header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .logo{
    width: 90px;
    height: 80px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 10px;
}
