body{
  background-image: url("./assets/background.jpg");
  background-size: cover;
  font-family: "Arial", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 20px; /* Espacio entre celdas */
  color: white;
  margin: 20px;
}

