body{
  background-image: url("./assets/background.jpg");
  background-size: cover;
  font-family: "Arial", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

